/* Paleta de colores */

$color-principal: #0d6efd;
$color-secundario: #e3eeff;
$color-secundario-variable: #d0e3ff;
$color-terciario: #F8F1F1;
$color-cards-principal: #024cba;
$color-cards-bg: #013c93;
$color-hovers: #0c6186;

/* Layout */

@mixin flex-center {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin flex-column-center {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}